/ Boilerplate HAML/SCSS v0.22

-# Basic information
-@autor="jarp"
-@lang= "en"
-@title= "Hello World!"
-@description= "My awesome website"
-@keywords="keyword1, keyword2, keywordn"

-# Basic libraries
-@BootstrapV= "4.0.0-alpha.6"
-@TetherV="1.4.0"
-@NormalizeV="5.0.0"
-@jQueryV="3.1.1"
-@FontAwesomeV="4.7.0"
-@MaterializeV="0.100.2"

!!!5
%html
    %head{class:"no-js",lang:@lang}

        /Metadata
        %meta{charset:"utf-8"}
        %meta{'http-equiv':"x-ua-compatible", content:"ie-edge"}
        %title= @title
        %meta{name:"description", content:@description}
        %meta{name:"keywords", content:@keywords}
        %meta{name:"author", content:@autor}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no"}

        /Styles
        %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/materialize/"+@MaterializeV+"/css/materialize.min.css"}
        %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/normalize/"+@NormalizeV+"/normalize.min.css"}
        %link{rel:"stylesheet", href:"https://fonts.googleapis.com/icon?family=Material+Icons"}
        %link{rel:"stylesheet", href:"./css/styles.css"}

    %body
        /NavBar
        = Haml::Engine.new(File.read("./src/layouts/navbar.haml")).render

        /Header
        = Haml::Engine.new(File.read("./src/layouts/header.haml")).render

        /Main
        %main
            -# Please replace this wi th your own sections (this is just an example)
            = Haml::Engine.new(File.read("./src/sections/section.haml")).render

            
        .fixed-action-btn
            %a#contactarBtn.btn-floating.pulse.btn-large.waves-effect.waves-light.red{href:"#contacto"}
                %i.material-icons chat_bubble_outline


        /Footer
        %footer.w-100
            = Haml::Engine.new(File.read("./src/layouts/social.haml")).render
            = Haml::Engine.new(File.read("./src/layouts/footer-links.haml")).render
            %p.text-center=@title+" - Develop by "+@autor

        /Scripts
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/jquery/"+@jQueryV+"/jquery.js"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/materialize/"+@MaterializeV+"/js/materialize.min.js"}
        %script{src:"./js/main.js"}
